<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/eab3fc74-ad45-4e55-b65e-fbba2d612572/resourcegroups/hlResource/providers/Microsoft.Web/sites/HudsonLimaGitHub</ResourceId>
    <ResourceGroup>hlResource</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://hudsonlimagithub.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>hudsonlimagithub.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HudsonLimaGitHub</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$HudsonLimaGitHub</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RepositoryDBEntities" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:hlserver1.database.windows.net,1433;Initial Catalog=HudsonLimaGitHub_db;User ID=hlserver1@hlserver1;Password=Admin#08" Name="Data Source=tcp:hlserver1.database.windows.net,1433;Initial Catalog=HudsonLimaGitHub_db;User Id=hlserver1@hlserver1;Password=Admin#08" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=HUDPC\SQLEXPRESS;Initial Catalog=RepositoryDB;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RepositoryDBEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.RepositModel.csdl|res://*/Models.RepositModel.ssdl|res://*/Models.RepositModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HUDPC\SQLEXPRESS;initial catalog=RepositoryDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="RepositoryDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.RepositModel.csdl|res://*/Models.RepositModel.ssdl|res://*/Models.RepositModel.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:hlserver1.database.windows.net,1433;initial catalog=HudsonLimaGitHub_db;user id=hlserver1@hlserver1;password=Admin#08;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>